body {
    background: #333;
}

.box {
    background: white;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
    animation-iteration-count: 1; /*how many times the animation happens, 1 to infinite*/
    animation-fill-mode: forwards;
    /* animation-delay: 2s; */
    /* animation-direction: alternate; */
    /* animation-timing-function: linear; */ /*changes the way that it moves, linear starts and stops at the same time, ease in starts slow and ends fast, ease in out is default*/
}

@keyframes myanimation {
    0% {background-color: white; left: 0px; top:0px; border-radius: 0 0 0 0;}/* what animations do I want at zero percent*/
    25% {background-color: pink; left: 300px; top: 0px; border-radius: 50% 0 0 0;}
    50% {background-color: lightblue; left: 300px; top: 300px; border-radius: 50% 50% 0 0;}
    75% {background-color: green; left: 0px; top: 300px; border-radius: 50% 50% 50% 0;}
    100% {background-color: white; left: 0px; top:0px; border-radius: 50% 50% 50% 50%;}
}